body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  main {
    margin-top: 60px;
    padding-top: 20px;
  }
  
  .main-title {
    font-size: 36px;
    color: #28a745;
    text-align: center;
  }
  
  .TLcontent {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1300px;
    margin: 50px auto 100px;
  }
  
  .TLdescription {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    min-height: 600px;
    max-height: 1040px;
    overflow: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .TLrute {
    width: 100%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th {
    background-color: #089a5b;
    color: white;
    padding: 10px;
    font-size: 18px;
  }
  
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
  }
  
  .TLbold {
    font-weight: bold;
  }
  
  .TLinfo {
    background-color: #f9f9f9;
    font-style: italic;
  }
  
  .TLnotes {
    margin-top: 15px;
    font-size: 15px;
    color: #333;
  }
  
  .TLprocedure-table, .TLtable, .TLrute {
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    min-height: 200px;
    overflow: auto;
  }
  
  .TLbus-image, .TLrute {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
  }
  
  @media (min-width: 768px) {
    .TLcontent {
      flex-direction: row;
    }
  
    .TLdescription {
      width: 48%;
      margin: 0 10px;
    }

    .TLtable, .TLprocedure-table {
      margin-top: 0;
    }
  }
  
  @media (max-width: 768px) {
    main {
      margin-top: 40px;
    }
  }
  
  @media (max-width: 576px) {
    .main-title {
      font-size: 28px;
    }
  
    table {
      font-size: 14px;
    }
  
    .TLnotes {
      font-size: 12px;
    }
  
    main {
      margin-top: 30px;
    }
  }

  .faq-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #089a5b; 
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .faq-button:hover {
    background-color: #ffffff; 
    color: #006400; 
  }
  