body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}
main {
  margin-top: 60px; 
  padding-top: 20px;
}

.main-title {
  font-size: 36px;
  color: #28a745;
  text-align: center;
}

.TLcontent {
  display: flex;
  width: 90%;
  max-width: 1300px;
  margin: 50px auto 100px; 
}

.TLdescription {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
}

.TLrute {
  width: 100%; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  background-color: #28a745;
  color: white;
  padding: 10px;
  font-size: 18px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.TLbold {
  font-weight: bold;
}

.TLinfo {
  background-color: #f9f9f9;
  font-style: italic;
}

.TLnotes {
  margin-top: 15px;
  font-size: 15px;
  color: #333;
}

.TLprocedure-table, .TLtable, .TLrute {
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.TLbus-image, .TLrute {
  width: 100%; 
  max-width: 600px; 
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

@media (min-width: 768px) {
  .TLcontent {
    flex-direction: row; 
  }

  .TLdescription {
    width: 48%; 
    margin: 0 10px; 
  }

  .TLtable, .TLprocedure-table {
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .main-title {
    font-size: 28px; 
  }

  table {
    font-size: 14px; 
  }

  .TLnotes {
    font-size: 12px; 
  }
}
@media (max-width: 768px) {
  main {
    margin-top: 40px; 
  }
}
@media (max-width: 576px) {
  main {
    margin-top: 30px; 
  }
}